html,
body>#root>div {
  height: 100vh;
  background-image: url("./images/Fondo.jpg");
  /*background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin-bottom: 5rem;
  padding: 2rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.fatherTitle {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.controls {
  display: block;
  gap: 12px;
}

.test {
  display: flex;
  gap: 350px;
  justify-content: center;
}

canvas {
  border: 1px solid black;
}

.testView {
  margin-right: 16px;
  height: 300px;
  width: 300px;
  margin-top: 10px;
}

.testTitle {
  margin-bottom: 2rem;
}

.ordersView {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  /* 60px*/
  height: 160px;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.buttonStyle {
  border-radius: 20px;
  background-color: transparent;
  padding: 0.5rem;
}

.buttonLeftStyles {
  border-radius: 20px;
  background-color: transparent;
  padding: 0.5rem;
}

.buttonRightStyles {
  border-radius: 20px;
  background-color: transparent;
  padding: 0.5rem;
}

.imgSize {
  height: 40px;
  widows: 40px;
}

ul {
  display: block;
  justify-content: center;
  /* align-content: end; */
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  /*left: 38%;*/
}

li {
  margin-right: 20px;
  color: gray;
}

div.picture1 {
  width: 100px;
  height: 100px;
  /*height of your image*/
  /* background-image: url("https://www.kindpng.com/imgv/TxhRTm_8-bit-mario-png-mario-bros-8-bits/"); */
  z-index: 0;
  background-color: "yellow";
  margin: 0;
  /* If you want no margin */
  padding: 0;
  /*if your want to padding */
}


/* CSS btn.30 Comprobar resultados*/
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* MODAL STYELS */
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 20;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.downSide {
  transform: rotate(180deg);
}

.rightSide {
  transform: rotate(90deg);
}

.leftSide {
  transform: rotate(270deg);
}

@media (min-width: 768px) {
  .button-86 {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}